.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.todayBtn {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
